#content {
    max-width: 500px;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;

    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 900px) {
    #content {
        margin: 10px;
        max-width: none;
    }
}

.hidden {
    display: none;
}

#thankyou img {
    max-width: 100%;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-top: 10px;
    background-color: blanchedalmond;
}

#uploadPreview {
    width: 100%;
}


#messageText {
    width: 100%;
}