#content {
    max-width: 500px;
    margin: 0 auto;
    /* background-color: whitesmoke; */
    background-color: white;
    padding: 25px;
    border-radius: 5px;

    border: darkgoldenrod;
    border-style: solid;

    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 900px) {
    #content {
        margin: 10px;
        max-width: none;
    }

    #submitBtn {
        width: 100%;
        margin-left: 0;
    }

    #captureBtn {
        width: 100%;
    }
}

.hidden {
    display: none;
}

hr {
    border-color: darkgoldenrod;
    border-top: thin;
    margin: 25px 0 25px 0;
}

h1 {
    margin-top: 0px;
    font-weight: normal;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    color: #8f6808;
    text-align: center;
    text-transform: uppercase;
}

p {
    line-height: 1.6;
    color: #404040;
}

body {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 25px;
    background-color: rgb(255 249 240);
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    font-size: medium;
}

#messageText,
#nameText {
    font-family: "PT Serif", 'Times New Roman', Times, serif;
    font-size: medium;
    margin-bottom: 25px;

    border-color: darkgoldenrod;
    border-width: thin;
    border-style: solid;
}


#uploadPreview {
    width: 100%;
    margin-top: 25px;
    max-width: 100%;
    max-height: 450px;
    object-fit: contain;
    text-align: center;
}


#messageText,
#nameText {
    width: 100%;
    padding: 10px;
}

/* CSS */
#captureBtn {
    display: block;
    margin: 25px auto;

    background-color: #e5ecff;
    border: 1px solid rgb(46 71 147);
    color: rgb(46 71 147);
    ;
}

#captureBtn:active {
    background-color: #dde6ff;
}

#submitBtn,
#sendAnotherBtn {
    margin-left: auto;
    display: block;
    background-color: rgb(46 71 147);
    border: 1px solid rgb(46 71 147);
    color: #FFFFFF;
}

#sendAnotherBtn {
    margin-right: auto;
}

#submitBtn:active,
#sendAnotherBtn:active {
    background-color: rgb(34 54 112);
    border: 1px solid rgb(34 54 112);
}

#submitBtn,
#captureBtn,
#sendAnotherBtn {
    appearance: button;
    border-radius: 4px;
    box-sizing: border-box;

    cursor: pointer;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    line-height: 1.15;
    overflow: visible;
    padding: 12px 16px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: all 80ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#submitBtn:disabled,
#captureBtn:disabled {
    opacity: .5;
}

#sendAnotherBtn:focus,
#submitBtn:focus,
#captureBtn:focus,
#messageText:focus,
#nameText:focus {
    outline: 0px;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}